#{extends 'main.html' /}
#{set title:'Home' /}

<form action="@{Clientes.salvar}">

<input type="hidden" name="u.id" value="${u?.id}">

	<label>Nome</label> <input type="text" name="c.nome"  value="${u?.nome}" class="form-control"
	 placeholder="Nome..."/><br />

	<label>E-mail</label> <input type="text" name="c.email"  value="${u?.email}" class="form-control"
	 placeholder="E-mail..."/><br />
	
	<label>Endereco</label> <input type="text" name="c.endereco"  value="${u?.endereco}" class="form-control" 
	placeholder="Endereco..."/><br />

	<button class="btn btn-secondary btn-lg" >Enviar</button>
	
	
</form>


