#{extends 'main.html' /} 
#{set title:'Home' /}

<button type="button" class="btn btn-outline-primary btn-lg btn-block"><a href="@{Clientes.form}">Cadastre-se</a></button>
<button type="button" class="btn btn-outline-primary btn-lg btn-block"><a href="@{Logins.form}">Login</a></button>
<!-- <button type="button" class="btn btn-outline-primary btn-lg btn-block"><a href="@{Funcionarios.form}">Cadastrar Funcionario</a></button> -->
<!-- <button type="button" class="btn btn-info btn-lg btn-block"><a href="@{Clientes.registrarOcorrencia.(id)}">Registrar Ocorrencia</a></button> -->
<img src="@{'public/images/caern.jpg'}" class="img-fluid" alt="Responsive image">

